---
import MainLayout from "../../../layouts/main.layout.astro";
---

<MainLayout>
  <main class="w-full h-dvh overflow-x-auto">
    <div class="min-w-max min-h-dvh grid place-content-center">
      <img
        class="block w-auto h-dvh object-cover"
        src="/campus/biologia/conservemos-jalisco-1.webp"
        alt="conservemos-jalisco-1"
      />
    </div>
    <div class="min-w-max min-h-dvh grid place-content-center">
      <img
        class="block w-auto h-dvh object-cover"
        src="/campus/biologia/conservemos-jalisco-2.webp"
        alt="conservemos-jalisco-2"
      />
    </div>
  </main>
</MainLayout>

<style>
  body {
    overflow: auto;
  }
</style>
