---
import MainLayout from "../../../layouts/main.layout.astro";
---

<MainLayout title="POST | la-biologa-en-mi-vida-cotidiana">
  <div class="min-h-dvh bg-[#57564F] text-[#F8F3CE] py-8 px-4 text-pretty">
    <h1
      class="font-extrabold text-xl sm:text-2xl md:text-4xl tracking-widest mb-8 text-center sticky top-0 bg-[#57564F]"
    >
      La Biología en mi Vida Cotidiana
    </h1>
    <main
      class="text-[#DDDAD0] w-full max-w-3xl mx-auto grid gap-8 [&_b]:text-[#F8F3CE]"
    >
      <img
        src="/campus/biologia/pi-1.webp"
        alt="pi-1"
        class="block w-full aspect-[10/5] object-cover rounded"
      />
      <p>
        La <b>biología</b> es mucho más que una asignatura escolar; es la ciencia
        que explica mi propia existencia y la de todo lo que me rodea. En mi vida
        cotidiana me permite entender desde cómo funciona mi cuerpo hasta los cambios
        en el medio ambiente de mi comunidad. Por ello considero que la biología
        es fundamental para tomar decisiones responsables y conscientes.
      </p>
      <p>
        Conocer las <b>teorías del origen de la vida y de la evolución</b> me ha
        ayudado a comprender que los seres vivos, incluido el ser humano, somos parte
        de un proceso natural de millones de años. Esta visión me hace valorar la
        diversidad de especies y entender la importancia de conservarlas. También
        me ha permitido ver cómo las características de cada organismo, incluidas
        las nuestras, se relacionan con la adaptación al entorno.
      </p>
      <p>
        Aprender sobre la estructura de los seres vivos <b
          >(células, tejidos y sistemas)</b
        > me ayuda a cuidar mejor mi salud y hábitos. Saber cómo está organizado
        mi cuerpo me permite comprender la importancia de la alimentación, el ejercicio
        y la prevención de enfermedades. Asimismo, conocer mi ecosistema local, en
        Tlajomulco de Zúñiga, me hace consciente de que vivo en una zona de bosque
        tropical caducifolio hoy fragmentado por la urbanización y la agricultura.
        Esta pérdida de áreas verdes y especies como el armadillo o el coyote no
        es algo lejano, sino parte de mi día a día.
      </p>
      <img
        src="/campus/biologia/pi-0.webp"
        alt="pi-0"
        class="block w-full aspect-[4/2] object-cover rounded"
      />
      <p>
        Las <b>problemáticas ambientales</b>, como la deforestación y el cambio
        climático, afectan directamente nuestra calidad de vida. En mi comunidad
        se han reducido 40% de los bosques nativos en veinte años, lo que
        provoca menos suelo fértil, inundaciones y pérdida de biodiversidad. La
        manipulación genética también influirá en nuestro estilo de vida: puede
        traer beneficios, como alimentos más resistentes, pero también riesgos
        si no se regula correctamente, afectando el equilibrio del medio
        ambiente.
      </p>
      <p>
        Por todo esto, la biología es esencial para mi presente y mi futuro. Me
        da las herramientas para entender y actuar frente a los retos
        ambientales y de salud, y para ser un ciudadano más informado y
        responsable. Comprenderla no solo enriquece mi conocimiento, sino que me
        ayuda a proteger mi vida, mi comunidad y el planeta.
      </p>
    </main>
  </div>
  <footer
    class="bg-[#7A7A73] text-[#F8F3CE] grid p-10 place-items-center font-bold"
  >
    <a href="/campus/biologia/mi-muro"><h2>Mi Muro</h2></a>
  </footer>
</MainLayout>
