---
import MainLayout from "../layouts/main.layout.astro";
---

<MainLayout>
  <main class="w-full min-h-dvh grid place-content-center gap-16">
    <h1 class="grid place-items-center">
      <b class="text-9xl">404</b>
      <span class="text-2xl text-center">Página no encontrada</span>
    </h1>
    <a href="/" class="text-center border p-4 hover:bg-black/10"
      >Volver al inicio</a
    >
  </main>
</MainLayout>
