---
import MainLayout from "../layouts/main.layout.astro";
---

<MainLayout>
  <h1>Mi campus</h1>
  <ul>
    <li>
      <a href="/campus/biologia/teoria-de-la-evolucion"
        >- Teoria de la evolucion</a
      >
    </li>
  </ul>
</MainLayout>
