---
import MainLayout from "../layouts/main.layout.astro";
---

<MainLayout>
  <h1 class="mb-8 text-4xl font-extrabold tracking-wider uppercase">
    Mi campus
  </h1>
  <ul class="space-y-4 text-xl">
    <li>
      <a href="/campus/biologia/mi-muro" class="hover:underline">
        - [Avance 1] Mi muro
      </a>
    </li>
    <li>
      <a href="/campus/biologia/teoria-de-la-evolucion" class="hover:underline"
        >- [M1][Actividad 2] Teoria de la evolucion</a
      >
    </li>
    <li>
      <a
        href="/campus/biologia/metodos-asexuales-y-sexuales"
        class="hover:underline"
        >- [M2][Actividad 3] Metodos asexuales y sexuales</a
      >
    </li>
    <li>
      <a
        href="/campus/biologia/post/comparacion-entre-una-planta-y-un-animal"
        class="hover:underline"
        >- [POST][Avance 2] Comparación entre una planta y un animal</a
      >
    </li>
    <li>
      <a
        href="/campus/biologia/post/conservemos-jalisco"
        class="hover:underline"
        >- [POST][Avance 3] Promoviendo la conservación de una especie</a
      >
    </li>
    <li>
      <a
        href="/campus/biologia/post/la-biologia-en-mi-vida-cotidiana"
        class="hover:underline"
        >- [POST][Proyecto integrador] la biología en mi vida cotidiana</a
      >
    </li>
  </ul></MainLayout
>
