---
import MainLayout from "../../layouts/main.layout.astro";
import Slider from "../../components/slider.component.astro";
---

<MainLayout title="Act3 | Reproducción">
  <Slider>
    <!-- SECTION 1 -->
    <section class="bg-neutral-900">
      <div class="relative w-full min-h-dvh">
        <!-- video de fondo (gif) -->
        <video
          id="bgVideo"
          playsinline
          autoplay
          muted
          loop
          class="w-full h-full object-cover absolute top-0 left-0 opacity-50"
        >
          <source src="/campus/biologia/celulas-0.mp4" type="video/mp4" />
          Tu navegador no soporta videos HTML5.
        </video>

        <div class="relative grid gap-8 md:text-center md:pt-48">
          <h1 class="text-7xl lg:text-8xl font-extrabold text-zinc-100">
            Métodos asexuales y sexuales
          </h1>
          <cite class="text-2xl lg:text-3xl font-light text-zinc-200"
            >Por Gustavo Rentería</cite
          >
        </div>
      </div>
    </section>

    <!-- SECTION 2 -->
    <section class="bg-neutral-800">
      <div class="relative w-full min-h-dvh">
        <!-- video de fondo (gif) -->
        <video
          id="bgVideo"
          playsinline
          autoplay
          muted
          loop
          class="w-full h-full object-cover absolute top-0 left-0 opacity-50"
        >
          <source src="/campus/biologia/celulas-1.mp4" type="video/mp4" />
          Tu navegador no soporta videos HTML5.
        </video>

        <div class="relative grid gap-16 p-8">
          <h2
            class="text-2xl lg:text-4xl rounded p-2 text-pretty text-center font-bold text-zinc-100 bg-gradient-to-r from-blue-500/20 to-purple-500/20 max-w-xl"
          >
            La reproducción es el proceso biológico que permite a los seres
            vivos crear nuevos individuos, asegurando la supervivencia de la
            especie.
          </h2>
          <div class="flex flex-wrap gap-8 justify-evenly">
            <div class="p-4 grid gap-4 transition hover:scale-105">
              <p
                class="text-zinc-50 font-bold text-4xl lg:text-6xl text-center"
              >
                ASEXUAL
              </p>
              <img
                class="size-72 lg:size-96 object-cover rounded"
                src="/campus/biologia/asexual.webp"
                alt="img-asexual"
              />
              <cite class="text-zinc-50 text-xl lg:text-2xl"
                >Un solo progenitor</cite
              >
            </div>
            <div class="p-4 grid gap-4 transition hover:scale-105">
              <p
                class="text-zinc-50 font-bold text-4xl lg:text-6xl text-center"
              >
                SEXUAL
              </p>
              <img
                class="size-72 lg:size-96 object-cover rounded"
                src="/campus/biologia/sexual.webp"
                alt="img-asexual"
              />
              <cite
                class="text-zinc-50 text-xl lg:text-2xl max-w-72 lg:max-w-96"
                >Dos progenitores (hembra y macho)</cite
              >
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- SECTION 3 -->
    <section class="bg-neutral-800">
      <div class="relative w-full min-h-dvh">
        <!-- video de fondo (gif) -->
        <video
          id="bgVideo"
          playsinline
          autoplay
          muted
          loop
          class="w-full h-full object-cover absolute top-0 left-0 opacity-50"
        >
          <source src="/campus/biologia/celulas-2.mp4" type="video/mp4" />
          Tu navegador no soporta videos HTML5.
        </video>

        <div class="relative grid gap-20 pt-20 pb-8">
          <div class="flex max-lg:flex-wrap gap-20 lg:justify-between">
            <h2 class="text-5xl lg:text-7xl font-extrabold text-zinc-100">
              Reproducción Asexual
            </h2>
            <div
              class="text-zinc-200 grid justify-start bg-gradient-to-r from-blue-500/20 to-purple-500/20 p-8 rounded"
            >
              <h3 class="font-bold text-3xl lg:text-5xl mb-8">
                Características
              </h3>
              <ul class="space-y-4 text-xl lg:text-2xl font-bold">
                <li>- 1 progenitor</li>
                <li>- Sin gametos</li>
                <li>- Descendencia idéntica (clones)</li>
                <li>- Rápida y eficiente en energía</li>
              </ul>
            </div>
          </div>
          <h3
            class="text-center font-extrabold tracking-wider text-4xl text-zinc-50/80"
          >
            EJEMPLOS:
          </h3>
          <div class="flex flex-wrap text-zinc-100 justify-evenly gap-16 px-4">
            <div>
              <img
                src="/campus/biologia/bacterias.webp"
                alt="bacterias"
                class="size-64 lg:size-96 object-cover rounded"
              />
              <h4
                class="text-center text-2xl -translate-y-10 font-extrabold tracking-wider"
              >
                Bacterias
              </h4>
            </div>
            <div>
              <img
                src="/campus/biologia/hongos.webp"
                alt="hongos"
                class="size-64 lg:size-96 object-cover rounded"
              />
              <h4
                class="text-center text-2xl -translate-y-10 font-extrabold tracking-wider"
              >
                Hongos
              </h4>
            </div>
            <div>
              <img
                src="/campus/biologia/estrella.webp"
                alt="estrellas-de-mar"
                class="size-64 lg:size-96 object-cover rounded"
              />
              <h4
                class="text-center text-2xl -translate-y-10 font-extrabold tracking-wider"
              >
                Estrellas de mar
              </h4>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- SECTION 4 -->
    <section class="bg-neutral-800">
      <div class="relative w-full min-h-dvh py-20">
        <!-- video de fondo (gif) -->
        <video
          id="bgVideo"
          playsinline
          autoplay
          muted
          loop
          class="w-full h-full object-cover absolute top-0 left-0 opacity-50"
        >
          <source src="/campus/biologia/celulas-3.mp4" type="video/mp4" />
          Tu navegador no soporta videos HTML5.
        </video>

        <div class="relative grid gap-8 md:text-center mb-8">
          <h1 class="text-5xl lg:text-6xl font-extrabold text-zinc-100">
            Variantes de Reproducción Asexual
          </h1>
          <ul
            class="grid justify-end text-2xl lg:justify-normal lg:text-center [&>li]:min-w-sm [&>li]:p-8"
          >
            <li class="bg-yellow-300/70 transition hover:scale-110 grid">
              <b>Gemación</b>
              <span>Ejemplo: Hidras (animales acuáticos) o levaduras</span>
            </li>
            <li class="bg-green-300/70 transition hover:scale-110 grid">
              <b>Bipartición</b>
              <span>Ejemplo: Bacterias como E. coli</span>
            </li>
            <li class="bg-blue-300/70 transition hover:scale-110 grid">
              <b>Fragmentación</b>
              <span>Ejemplo: Estrellas de mar, lombrices planarias</span>
            </li>
            <li class="bg-red-300/70 transition hover:scale-110 grid">
              <b>Esporulación</b>
              <span>Ejemplo: Hongos como el moho (Rhizopus)</span>
            </li>
            <li class="bg-purple-300/70 transition hover:scale-110 grid">
              <b>Partenogénesis</b>
              <span
                >Ejemplo: Abejas (zánganos), algunos reptiles como lagartijas</span
              >
            </li>
          </ul>
        </div>
      </div>
    </section>

    <!-- SECTION 5 -->
    <section class="bg-neutral-800">
      <div class="relative w-full min-h-dvh">
        <!-- video de fondo (gif) -->
        <video
          id="bgVideo"
          playsinline
          autoplay
          muted
          loop
          class="w-full h-full object-cover absolute top-0 left-0 opacity-50"
        >
          <source src="/campus/biologia/celulas-4.mp4" type="video/mp4" />
          Tu navegador no soporta videos HTML5.
        </video>

        <div class="relative grid gap-20 pt-20 pb-8">
          <div class="flex max-lg:flex-wrap gap-20 lg:justify-between">
            <h2 class="text-5xl lg:text-7xl font-extrabold text-zinc-100">
              Reproducción Sexual
            </h2>
            <div
              class="text-zinc-200 grid justify-start bg-gradient-to-r from-blue-500/20 to-purple-500/20 p-8 rounded"
            >
              <h3 class="font-bold text-3xl lg:text-5xl mb-8">
                Características
              </h3>
              <ul class="space-y-4 text-xl lg:text-2xl font-bold">
                <li>- 2 progenitores (gametos: óvulo y espermatozoide)</li>
                <li>- Mezcla genética → diversidad</li>
                <li>- Proceso más lento y complejo</li>
              </ul>
            </div>
          </div>
          <h3
            class="text-center font-extrabold tracking-wider text-4xl text-zinc-50/80"
          >
            EJEMPLOS:
          </h3>
          <div class="flex flex-wrap text-zinc-100 justify-evenly gap-16 px-4">
            <div>
              <img
                src="/campus/biologia/humanos.webp"
                alt="humanos"
                class="size-64 lg:size-96 object-cover rounded"
              />
              <h4
                class="text-center text-2xl -translate-y-10 font-extrabold tracking-wider"
              >
                Humanos
              </h4>
            </div>
            <div>
              <img
                src="/campus/biologia/aves.webp"
                alt="aves"
                class="size-64 lg:size-96 object-cover rounded"
              />
              <h4
                class="text-center text-2xl -translate-y-10 font-extrabold tracking-wider"
              >
                Aves
              </h4>
            </div>
            <div>
              <img
                src="/campus/biologia/insectos.webp"
                alt="insectos"
                class="size-64 lg:size-96 object-cover rounded"
              />
              <h4
                class="text-center text-2xl -translate-y-10 font-extrabold tracking-wider"
              >
                Insectos
              </h4>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- SECTION 6 -->
    <section class="bg-neutral-800">
      <div class="relative w-full min-h-dvh py-20">
        <!-- video de fondo (gif) -->
        <video
          id="bgVideo"
          playsinline
          autoplay
          muted
          loop
          class="w-full h-full object-cover absolute top-0 left-0 opacity-50"
        >
          <source src="/campus/biologia/celulas-5.mp4" type="video/mp4" />
          Tu navegador no soporta videos HTML5.
        </video>

        <div class="relative grid gap-8 md:text-center mb-8">
          <h1 class="text-5xl lg:text-6xl font-extrabold text-zinc-100">
            Procesos de la Reproducción Sexual
          </h1>
          <ul
            class="grid justify-end text-2xl lg:justify-normal lg:text-center [&>li]:min-w-sm [&>li]:p-8"
          >
            <li class="bg-yellow-300/70 transition hover:scale-110 grid">
              <b>Gametogénesis</b>
              <span>Formación de gametos (meiosis)</span>
            </li>
            <li class="bg-green-300/70 transition hover:scale-110 grid">
              <b>Fecundación</b>
              <span>Unión de gametos → cigoto</span>
            </li>
            <li class="bg-blue-300/70 transition hover:scale-110 grid">
              <b>Desarrollo embrionario</b>
              <span>Cigoto → embrión</span>
            </li>
            <li class="bg-red-300/70 transition hover:scale-110 grid">
              <b>Nacimiento</b>
              <span>Nuevo individuo (interno o externo)</span>
            </li>
          </ul>
        </div>
      </div>
    </section>
  </Slider>
</MainLayout>
